*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}
.container{
}
.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}
.links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links li{
    padding: 30px;
}
