*{
    margin: 0;
    padding: 0;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    box-sizing:content-box;
    background-image: url(img/Sky.jpg);
    color: aliceblue;
}
.container{
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0px 0px 50px;
}
.links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links li{
    padding: 30px;
    list-style-type:none;
    margin-top: 10px;
    color: aliceblue;
}

.disclaimer{
    background-color: aquamarine;
    text-align: center;
    font-size: large;
    margin: 40px;
}

.header{
    display: flex;
    margin: 50px 20px;
    justify-content: space-around;
}
.header h1,p{
    color: aliceblue;
}
.header h1{
    font-size: 70px;
    margin: 30px 10px;
}
.header p{
    font-size: 25px;
    max-width: 700px;
    line-height: 30px;
    margin-left: 10px;
}
.header img{
    width: 600px;
    height: auto;
    border: 4px solid black;
    border-radius: 100px;
}
.info-top,
.info-bottom {
    display: flex;
    justify-content: center;
    gap: 82px;
    margin: 70px 0px;
  }
  
.info {
    max-width: 300px;
  }
.info img{
    height: 450px;
    width: 250px;
    object-fit: cover;
    object-position: 60% 40%;
    border: 4px solid black;
    border-radius: 100px;
    aspect-ratio: auto;
  }
.info p{
    font-size: 20px;
    text-align:  center;
    max-width: 250px;
}
.info h3{
    font-size: 35px;
    text-align: center;
    margin: 30px;
    line-height: 35px;
}
.new-member{

}